extends ../../layouts/default.pug

include ../../mixins/boxTitle.pug

block main
  +boxTitle(pageTitle)
  
  .row
    each category in categories
      .col-3
        .card.card-category
          img(src=category.image)
          .card-body
            h5.card-title #{category.title}
            a(
              href=`/tours/${category.slug}`
              class="btn btn-primary"
            ) Chi tiết