header.header
  .header-logo
    a(
      href="/"
    )
      img(
        src="https://cdn.daca.vn/media/logo/logo.svg" 
        alt="Logo"
      )
  
  .header-menu
    ul
      li
        button.btn.btn-danger Đăng xuất