.inner-menu
  ul
    li
      a(href="" class="btn btn-primary") Tổng Quan
  ul
    li
      a(href="" class="btn btn-primary") Chuyến Đi
  ul
    li
      a(href=`/${admin}/categories` class="btn btn-primary") Danh Mục